.header {
  background-color: rgb(188,125,52);
  color: white;
  padding: 25px 0;
  /* height: 30vh; */
  text-align: center;
  padding-bottom: 60px;
}

.header h2 {
  text-transform:capitalize;
  font-size: 35px;
}

.header p {
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
