.nav {

  height: 10vh;
  background-color: rgb(217, 200, 177);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 0 50px;
}
.nav a {
  color: white;
  font-weight: bolder;
}

#homeLink{
text-align: center;
  flex-grow: 1;
  font-size: 25px;
}
