.nav {
  height: 10vh;
  background-color: rgb(217, 200, 177);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  padding:0 20px;
}
.nav a {
  color: white;
  font-weight: bolder;
}

.nav__profileImg {
  height: 30px;
  width: auto;
  border-radius: 25px;
}
