.profileHeader {
  background-color: rgb(188,125,52);
  padding: 25px 0;
  /* height: 30vh; */
  text-align: center;
  padding-bottom: 60px;
}

.profileCard {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
}

.profileCard img {
  width: 50px; 
  height: auto;
  border-radius: 25px;
}

